<!DOCTYPE html>
<html ng-app="CounterApp">

<head>
  <meta
<title>Digest cycle</title>
</head>
<meta charset="utf-8">
<script src="angular.min.js"></script>
<script src="app.js"></script>
<body>
  <div ng-controller="CounterController">
  <button type="button" ng-click="showNoOfWatchers();">Log # No of watchers</button>
  <button type="button" ng-click="countOnce();">Click wathcers</button>
  <button type="button" ng-click="upCounter();">upCounter</button>
  <div>
    <br>
    <input id="text" type="text" ng-model="name">
  onceCounter:{{onceCounter}}<br>
  counter:{{counter}}
  </div>
</div>

</body>
</html>
