<!DOCTYPE html>
<html ng-app="ShopingListApp">

<head>
  <meta
<title>ng-repeat</title>
</head>
<meta charset="utf-8">
<script src="angular.min.js"></script>
<script src="app.js"></script>
<body>
  <div ng-controller="ShopingLisController">
    <h1>Shopping List</h1>
    <ul>
        <li ng-repeat="item in shoppingList1">{{item}}</li>
    </ul>
    <input type="text" ng-model="shoppingList2[1].quantity">
    <ul>
        <li ng-repeat="item in shoppingList2">{{$index+1}}.Buy {{item.quantity}} of {{item.name}}(s)</li>
    </ul>
  <input type="text" ng-model="newItemName" placeholder="Item Name">
  <input type="text" ng-model="newItemQuanity" placeholder="Item Quantity">
  <button ng-click="addToList();">Add to List</button>
</div>

</body>
</html>
